@media (max-width: 600px) {
  .sobre-container {
    flex-direction: column;  /* foto fica em cima no celular */
    text-align: center;
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
  color: #222;
}
  
header {
    text-align: center;
    padding: 40px;
    background: #4131d1;
    color: white;
  }


.sobre-container {
  display: flex;
  align-items: center;
  gap: 20px;         /* espaço entre a foto e o texto */
}

.foto-perfil {
  width: 400px;
  height: 435px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* sombra suave */
  border: 0;
  box-shadow: 0 0 15px #0003;
}

.sobre {
  width: 450px;               /* largura da caixa */
  padding: 40px;              /* espaço interno */
  background: #ffffff;        /* fundo branco */
  border-radius: 12px;        /* cantos arredondados */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15); /* sombra suave */
  font-family: Arial, sans-serif;
  margin: 20px auto;          /* centraliza na página */
}


.sobre h1 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #333;
  position: relative;
  padding-left: 28px; /* espaço para a seta */
  margin: 5px 0;
}

.sobre h1::before {
  content: "➤";         /* seta personalizada */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 22px;       /* tamanho da seta */
  color: #4131d1;        /* cor da seta (pode mudar) */
}

.sobre :hover::before {
  color: #ff9900;
  transform: translateX(4px);
}

.sobre h2 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #333;
}


.sobre h3 {
  margin: 3px 0;
  font-size: 18px;
  margin: 5px 0;
  color: #555;
}

.sobre p {
  margin: 2px 0 10px; /* texto mais perto, mas com espaço abaixo */
  line-height: 1.3;
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

  
section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
  }
  
  .projetos-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }  
  
  .projeto {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 0 10px #0002;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito no hover */
.projeto:hover {
  transform: scale(1.06) translateY(-4px);
  box-shadow: 0 8px 18px #0003;
}
  
footer {
    text-align: center;
    padding: 20px;
    background: #ddd;
    margin-top: 20px;
  }
